---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
	href={href}
	class:list={[
		className,
		'transition-colors font-headline font-bold tracking-tight',
		isActive 
			? 'text-[#485f84] dark:text-[#d5e3ff] border-b-2 border-[#485f84] dark:border-[#d5e3ff] pb-1' 
			: 'text-[#5e5f60] dark:text-slate-400 hover:text-[#485f84]'
	]}
	{...props}
>
	<slot />
</a>
<style>
	a {
		text-decoration: none;
	}
</style>
